/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family : ABeeZee;
    src: url('assets/font/ABeeZee-Regular.otf');
}

h1{
    font-family : ABeeZee;
}

.center{
    text-align: center;
}
